


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color:floralwhite; */
  background-color: #2e2d2d !important;
  display: flex;
  flex-direction: column;
  
  
  font-size: calc(10px + 2vmin);
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App-link {
  color: #61dafb;
}

body {
 
  background-color:  #2e2d2d !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
